body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #1d5481;
  color: aliceblue;
}

/* search history */
.search-history {
  margin-left: 20px;
  background-color: rgba(241, 245, 244, 0.945);
  border-radius: 5px;
}

.list-group {
  margin: 20px 0;
}

.list-group-item {
  background-color: #e3f4fe;
  text-align: center;
  margin: 6px 0;
  border-radius: 5px;
}

#title {
  font-size: 23px;
  font-weight: bold;
}

/* curren weather */
H2 {
  font-weight: bold;
}
.current-card {
  background-color: #4594d4;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: white;
}

.uvi {
  color: white;
  padding: 0 15px;
  border-radius: 5px;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
  color: black;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}

.icon {
  width: 50px;
  height: 50px;
}

/* forecast */
#forecast-tab {
  padding: 20px;
  margin: 20px;
}

.card {
  background-color: #7ebbec;
  color: whitesmoke;
  margin: 10px;
  padding-top: 5px;
}
